# Simple binary file protection - no line ending conversion
# All text files use LF (Unix standard)
# DOSBox handles LF in .BAT files correctly

# Mark binary files to prevent any conversion
*.exe -text
*.com -text
*.obj -text
*.tpu -text
*.pcx -text
*.hsc -text
*.voc -text
*.wav -text
*.pal -text
*.png -text
*.gif -text
*.bmp -text
*.dll -text
*.pdb -text
*.sys -text
*.xcf -text
*.zip -text
*.aiff -text
*.mp3 -text
*.sou -text
*.aseprite -text
